@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090B;
  color: #F4F4F5;
}

/* Custom sleek scrollbar for SOC aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #18181B;
}

::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525B;
}
